<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" >
    <script type="text/javascript" src="./components/getKey.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
    getKey().then((data) => {
              console.log(data);
              addKey(data.googleApiKey);
            })
            .catch((e) => {
              console.log(e.message);
            })
    function addKey(key){
      var head = document.getElementsByTagName('head')[0];
      var script = document.createElement('script');
      script.type= 'text/javascript';
      script.src= 'https://maps.googleapis.com/maps/api/js?key=' + key + '&libraries=places'
      head.appendChild(script);
    }
    </script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link rel="shortcut icon" href="./favicon.ico" >
    <link rel="stylesheet" href="app.css">
    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <title>YAYA BOT CRM</title>
</head>
<body>
<div id='app'></div>

<script src="bundle.js"></script>


</body>
</html>
